name: Release
permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: x86_64-unknown-linux-gnu
    - name: Rust Cache
      uses: swatinem/rust-cache@v2
      with:
        key: x86_64-unknown-linux-gnu
    - name: Build for Linux
      run: cargo build --release --target x86_64-unknown-linux-gnu
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: htot-conv-rs-linux
        path: target/x86_64-unknown-linux-gnu/release/htot-conv-rs

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: x86_64-pc-windows-msvc
    - name: Rust Cache
      uses: swatinem/rust-cache@v2
      with:
        key: x86_64-pc-windows-msvc
    - name: Build for Windows
      run: cargo build --release --target x86_64-pc-windows-msvc
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: htot-conv-rs-windows
        path: target/x86_64-pc-windows-msvc/release/htot-conv-rs.exe

  create-release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts
        merge-multiple: true # 全てのバイナリを1つのフォルダにまとめる

    - name: Create Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        TAG_NAME=${GITHUB_REF#refs/tags/}
        gh release create "$TAG_NAME" \
          artifacts/htot-conv-rs \
          artifacts/htot-conv-rs.exe \
          --title "Release $TAG_NAME" \
          --generate-notes
